extends layout
block content
  div(id="error") 
  h1= title
 
  - let educationid = toShow._id
  - let educationlevel = toShow.Level
  - let educationtype = toShow.Type
  - let educationcost = toShow.Cost 

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{educationid}
  - let actionid = "/resource/education/" + educationid
  form(id='educationForm', action= actionid, method="PUT")
    div.form-group
      label.educationAttr(for='Level') education level
      input#educationlevel(type='text', name='Level', value= educationlevel )
    div.form-group
      label.educationAttr(for='Type') education type
      input#educationtype(type='text', name='Type', value= educationtype )
    div.form-group
      label.educationAttr(for='Cost') education cost
      input#educationcost(type='number', name='Cost', value= educationcost )
    input(type="submit")
  script.
    document.forms['educationForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      //do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        //handle body
      }).catch((error) => {
        //handle error

        alert("Invalid numer of Cost:must be between 1 and 1000000\n\n" + "Update failed " + error);
        document.getElementById("error").innerHTML = "invalid Cost "
      });
    });