body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.educationAttr {
	background-color: aquamarine;
	width: 120px;
}
#Bonus{
	border: 3px solid black;

}

#BonusContent{
	/* background-color: black; */
	font-size: 20px;
	color: yellow;
	margin-bottom: 20px;
}